src/tests
tests
*.pyc
*.pyd
.env.dist
.gitignore
.github
.git
.vscode
__pycache__
__pycache__/
.cache
__pypackages__/
/.mypy_cache/
.mypy_cache/
/.pytest_cache/
docker-compose.yaml
Dockerfile
.dockerignore
.idea
.env
.venv
env/
venv/
ENV/
LICENSE
README.md